*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 50px;
  color: #f7f7f7;
  min-height: 100vh;
  background: #252525;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
